body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/pics/bg1.jpg");
  /* background-repeat: no-repeat; */
  background-blend-mode: screen;
  background-position: center;
  background-color: wheat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.AddRecipe {
  border-radius: 10%;
  padding: 0px 15px 100px 15px;
}

.EditRecipe {
  border-radius: 10%;
  padding: 50px 15px 100px 15px;
}

p {
  white-space: pre-line;
}
